rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /locationNames/data {
      allow write, update, create: if false;
      allow read: if true;
    }
  	match /raw {
    	match /{document=**} {
        allow write, update: if false;
      	allow read, create: if true;
      }
    }
    match /raw/{location}/data {
      match /{document=**} {
        allow write, update: if false;
        allow read, create: if true;
      }
    }
    match /aggregated/{location}/data {
      match /{document=**} {
        allow read, write, update, create: if true;
      }
    }
  }
}