.container {
  width: 432px;
  position: fixed;
  left: 20px;
  top: 16px;
  bottom: 16px;
  background-color: white;
  // padding-bottom: 20px;
  z-index: 2;
  border-radius: 12px;
  overflow-y: scroll;

  /* sh */
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.1);
}
.handler {
  display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .container {
    width: 100vw;
    top: 400px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow-y: scroll;
    border-radius: 12px 12px 0px 0px;
  }
  .handler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 48px;
  }
}